* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body {
  font-family: Tahoma, sans-serif;
  padding: min(5px, 5%);
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1a0770;
  color: white;
}
  
.slider {
  width: auto; /* Bisa di set nanti 1366px */
  height: 578px;
  overflow: hidden;
 
}
.slides {
  display: flex;
  width: 100%;
  height: 100%;
  animation: slide 30s infinite;
  
}
.slides img {
width: 100%;
height: 100%;
}

@keyframes slide {
0% {
  transform: translateX(0);
}
100% {
  transform: translateX(-200%);
}
}
.ul-text {
padding-left: 32px;
}

h3 {
  margin-top: 10px;
}
h1 {
  text-align: center;
  background-color: #1a0770;
  border-radius: 8px;
  color: white;
  padding-bottom: 8px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;

}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 32px;
  height: 4px;
  background-color: whitesmoke;
  margin: 4px 0;
}
.nav-icon {
  width: auto;
  height: 40px;
  margin-right: 8px;
  border-radius: 4px;
  display: flex;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    background-color: #1a0770;
    position:absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
    border-top: 4px solid white;
    gap: 4px;
          
  }

  nav ul.active {
    display: flex;
     
  }

  .menu-toggle {
    display: flex;
       
  }
}

.section-about {
display: flex;
justify-content: space-around;
}

.text-about {
flex: 1;
text-align: justify;
}

.img-profile {
width: auto;
height: 400px;
padding: 20px;
border-radius: 25px;

}  
.text-overlay {
  position: absolute;
  top: 100px; /* Jarak dari atas */
  left: 20px; /* Jarak dari kiri */
  color: black;
  padding: 10px;
  font-size: 32px;
  font-family: verdana;
} 

.card  {
  margin-top: 1rem;
  padding: 2em;
  border: 1px solid #1a0770;
  border-radius: 10px;
  background-color: #1a0770;
  text-align: center;
  color: white;
}
.grid-container {
  display: grid;
  /* border: 1px solid red; */
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  justify-content: center;
}
.img-card {
width: 300px;
padding: 2em;
}

/* CSS untuk styling body */
  .body-form {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex; /* Menggunakan Flexbox */
    justify-content: space-between; /* Memisahkan form dan output */
    align-items: flex-start; /*Menyelaraskan elemen di bagian atas */
  }

/* CSS untuk styling form */
form {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    flex: 1; 
    margin-right: 10px; /* Jarak antara form dan output pada text area */
}

label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
}

input, select, textarea {
    width: 95%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #1a0770;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #555;
}

/* CSS untuk area output */
#output {
    margin-top: 20px;
    background-color: #e7f3fe;
    border: 1px solid #b8daff;
    padding: 15px;
    border-radius: 5px;
    flex: 1; /* Memungkinkan area output menggunakan ruang yang tersedia */
}
